<footer class="bg-black grid grid-cols-3 text-gray-500 py-[4vh] px-[4vw] justify-center place-items-center">
    <div class="text-center">
        <switch/>
    </div>
    <div class="text-center">
        <p >Lorem ipsum dolor sit amet </p>
        <p>consectetur adipisicing elit. Cum, a.</p>
        <p>@2026 Tutti i diritti riservati</p>
    </div>
    <div class="text-center">
        <h3><b>Contatti</b></h3>
        <ul>
            <li> maill </li>
            <li> pec </li>
            <li> tall </li>
        </ul>
    </div>
</footer>